<table class="my-4">
    <tr class="border-b my-2">
        <td class="m-2">Razza</td>
        <td>{{ animal.breed }}</td>
    </tr>
    <tr class="border-b">
        <td>Sesso</td>
        <td>{{ animal.sex }}</td>
    </tr>
    <tr class="border-b">
        <td>Età</td>
        <td>{{ animal.age }}</td>
    </tr>
    <tr class="border-b">
        <td>Mantello</td>
        <td>{{ animal.fur_type }}</td>
    </tr>
    <tr class="border-b">
        <td>Colore</td>
        <td>{{ animal.fur_color }}</td>
    </tr>
    <tr class="border-b">
        <td>Nome</td>
        <td>{{ animal.name }}</td>
    </tr>
    <tr class="border-b">
        <td>Codice chip</td>
        <td>{{ animal.chip_code }}</td>
    </tr>
    <tr class="border-b">
        <td>Arrivato da</td>
        <td>{{ animal.origin_city }}</td>
    </tr>
    <tr class="border-b">
        <td>Il</td>
        <td>{{ animal.entry_date }}</td>
    </tr>
</table>
