{% extends "base.jinja" %} {% block content%}

<div>
    <table style="table-layout: fixed; width: 100%">
        <col style="width: auto" />
        <col style="width: auto" />
        <col style="width: auto" />
        <col style="width: auto" />
        <tr style="text-align: left">
            <th>Tipo</th>
            <th>Nome</th>
            <th>Comune</th>
            <th>Data</th>
        </tr>
        <tr>
            <td>{{ animal_type }}</td>
            <td>{{ animal_name }}</td>
            <td>{{ city }}</td>
            <td>{{ entry_date }}</td>
        </tr>
    </table>
</div>
{% endblock %}
