{% extends "base.jinja" %} {% block content%}

<div>
    <table>
        <tr>
            <td>tipo</td>
            <td>{{ animal_type }}</td>

            <td>Comune</td>
            <td>{{ city }}</td>
        </tr>
    </table>
</div>
{% endblock %}
