<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body class="" style="height: 1305px">
        <div class="flex flex-col h-full">
            <div class="text-center">
                <div class="font-bold">
                    <h3>CANILE HERMADA</h3>
                    <h3>ASSOCIAZIONE AMICI DEGLI ANIMALI</h3>
                </div>
                <p class="text-sm">
                    Registro Regionale delle Organizzazioni del Volontariato
                    L.R. 29/1996 - Decr. Pres.le N.60 - 22.02.97 PT
                </p>
            </div>
            <div class="text-center">
                <h1 class="font-bold py-[2rem] text-[1.5rem]">
                    {{ title }}
                </h1>
            </div>
            <div class="grow" style="height: 200px">
                {% block content %} {% endblock %}
            </div>
            <div style="position: absolute; bottom: 0; width: 100%">
                rendered with
                <span class="font-bold"
                    >{{ software_name }} v{{ software_version }}</span
                >
            </div>

            <div
                style="
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    text-align: right;
                "
            >
                <span class="">{{ day }}</span>
            </div>
        </div>
    </body>
</html>
