{% extends "base.jinja" %} {% block content%}

<div>
    <div>
        <div>
            Nome animale: <span class="font-bold">{{ animal_name }}</span>
        </div>
        <div>
            Numero chip: <span class="font-bold">{{ chip_code }}</span>
        </div>
        <div>
            Data affido:
            <span class="font-bold">{{ assignment_date }}</span>
        </div>
    </div>
    {% endblock %}
</div>
