{% extends "base.jinja" %} {% block content%}

<div>
    <div>
        <p>
            Il/la sottoscritto/a <strong>Luigi Vescovini</strong> per
            <strong>ASSOCIAZIONE AMICI DEGLI ANIMALI - ODV</strong>, residente
            in <strong>51016 Montecatini Terme in Via delle Padulette</strong>,
            tel. <strong>3503060217</strong>, in qualità di proprietario del
            cane iscritto all'Anagrafe Canina Regionale rispondente al seguente
            stato segnaletico:
        </p>

        <table class="my-4">
            <tr class="border-b">
                <td>Razza</td>
                <td>{{ animal_breed }}</td>
            </tr>
            <tr class="border-b">
                <td>Sesso</td>
                <td>{{ animal_sex }}</td>
            </tr>
            <tr class="border-b">
                <td>Età</td>
                <td>{{ animal_age }}</td>
            </tr>
            <tr class="border-b">
                <td>Mantello</td>
                <td>{{ animal_fur_type }}</td>
            </tr>
            <tr class="border-b">
                <td>Colore</td>
                <td>{{ animal_fur_color }}</td>
            </tr>
            <tr class="border-b">
                <td>Nome</td>
                <td>{{ animal_name }}</td>
            </tr>
            <tr class="border-b">
                <td>Codice di Identificazione</td>
                <td>{{ animal_chip_code }}</td>
            </tr>
            <tr class="border-b">
                <td>Arrivato da</td>
                <td>{{ animal_origin_city }}</td>
            </tr>
            <tr class="border-b">
                <td>Il</td>
                <td>{{ animal_entry_date }}</td>
            </tr>
        </table>

        <div class="section">
            <p class="w-full text-center my-4">
                <span class="font-bold">DICHIARA</span><br />(ART. 1 D.P.R. 20
                ottobre 1998 n.403)
            </p>
            <ul>
                <li>
                    che il suddetto cane è {% if variation_type.value == "I" %}
                    scomparso {% elif variation_type.value == "D" %} deceduto {%
                    elif variation_type.value == "C" %} stato ceduto il al Sig.
                    {{ adopter.surname }} {{ adopter.name }} nato il
                    {{ adopter.birtdate }} a {{ adopter.birthcity }}, residente
                    in {{ adopter.residence_city }} tel. {{ adopter.phone }}
                    {%endif%} il
                    {{ variation_date }}
                </li>
            </ul>
        </div>

        <div class="footer">
            <p>
                La presente viene redatta ai sensi dell'articolo 19 della L.R.
                08/04/1995 n°43
            </p>
        </div>

        <div class="flex mt-8">
            <p class="flex-grow w-full">
                51016 Montecatini Terme, lì __________________
            </p>
            <div>
                <p class="mb-4">
                    Firma del proprietario __________________________
                </p>
                <p>Firma per accettazione __________________________</p>
            </div>
        </div>
    </div>
    {% endblock %}
</div>
