name: Backend deployment
on:
  push:
    tags:
     - deploy_test*
     - deploy_prod*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install uv
      run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

    - name: Install dependencies and Build package with uv
      run: |
          cd backend
          uv sync
          uv build

    - name: Start ssh-agent
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}  # Use the correct secret here

    - name: Upload tar.gz and alembic.ini to remote server
      run: |
        scp -o StrictHostKeyChecking=no backend/dist/*.tar.gz backend/alembic.ini ${{secrets.REMOTE_USER}}@${{secrets.REMOTE_HOST}}:/opt/hermadata
      env:
        REMOTE_USER: ${{ secrets.REMOTE_USER }}
        REMOTE_HOST: ${{ secrets.REMOTE_HOST }}

    - name: Install new version on remote server and restart
      run: |
        ssh -o StrictHostKeyChecking=no ${{secrets.REMOTE_USER}}@${{secrets.REMOTE_HOST}} << 'EOF'
        cd /opt/hermadata
        source .venv/bin/activate
        pip install *.tar.gz --force-reinstall
        rm *.tar.gz
        
        # Run database migrations
        alembic upgrade head
        
        export NVM_DIR=~/.nvm
        pm2 restart hermadata-backend
        EOF
      env:
        REMOTE_USER: ${{ secrets.REMOTE_USER }}
        REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
